body{
    background-image: url(./menuimages/menubackround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
nav{
    height:100px;
    width:100%;
    margin-bottom: 20px;
    color:yellow;
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 50;
}
nav:hover{
    text-shadow:10px 10px 9px rgb(139, 139, 45);
    font-size:41px;
}
/*main*/
section{
    float:left;
    width:49.5%;
    height:300px;
}
aside{
    float:right;
    width:49.5%;
    height: 300px;
}
.leftitem{
    display: grid;
    border:1px solid yellow;
    border-radius: 8px;
    height:45px;
    margin-top: 2px;
    margin-left:2px;
    text-align:left;
    padding-top:2px;
    color: aliceblue;
}
#heading{
    width:100%;
    height:40px;
    border-radius: 8px;
    text-align: center;
    font-size: x-large;
    padding-top:10px;
    color: aliceblue;
    text-decoration: underline;
}
#heading:hover{
    color:yellow;
    font-size:xx-large;
}
.leftitem#price{
    text-align: center;
    font-size: x-large;
    border: 1px hidden black;
}
hr{
    clear: both;
}

/*type1*/
#section1{
    border-top: 2px solid yellow;
}
.leftcontainer{
    display:grid;
    grid-template-columns: 847px 80px ;
    border-radius: 20px;
    
}
.leftcontainer:hover{
    background-color:rgb(231, 231, 240,0.3); 
}
#aside1{
    background-image: url(../menu/menuimages/asianfood.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    opacity:0.6;
    border-top: 2px double yellow;
    border-bottom: 2px double yellow;
}
#section1:hover{
    background-color:rgb(231, 231, 240,0.3);
    border-radius: 20px;
}
/*type2*/
#section2{
    margin-top:20px;
   border-radius:20px;
   border-top:2px solid yellow;
   border-bottom:2px solid yellow;
}
#aside2{
    margin-top:20px;
    border-top: 2px solid yellow;
}
.rightcontainer{
    display:grid;
    grid-template-columns: 847px 80px ;
}
#section2{
    background-image:url(../menu/menuimages/africancuisine.jpg);
    opacity: 0.8;
   
  
    background-position: center;
   
}
/*type3*/
.leftcontainer3{
    display:grid;
    grid-template-columns: 847px 80px ;
}
#section3{
    margin-top: 20px;
    border-top: 2px solid yellow;;
}
#aside3{
    background-image:url(../menu/menuimages/westernfood.jpg);
    background-position: center;
    background-size:cover;
    border-radius: 20px;
    opacity:0.6;
    margin-top:20px;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
}
.leftcontainer3:hover{
    background-color: rgb(231, 231, 240,0.3); 
    border-radius: 20px;
}
.leftitem:hover{
 color: aqua;
 font-size:20px;
 background-color:rgb(231, 231, 240,0.5);
}
button{
    width:100px;
    height:48px;
}
footer{
    clear: both;
    height: 50px;
    width:100%;
    margin-left: 900px;
    padding-top: 10px;

    
}